:root{
    --color1: #ffffff;
    --color2: #000000;
    --color3: #F0F3F5;

    --color4: #001B2E;
    --color5: #294c60;
    --color6: #ADB6C4;
    --color7: #FFEFD3;
    --color8: #cf3847;

    --fuente1:'Raleway', sans-serif;
    --fuente2: 'MuseoModerno', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: var(--color6);
}



/* Menu de navegación */
.menu{
    width: 100%;
    height: 80px;
    background-color: var(--color8);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}
.logo{
    width: 100%;
    height: 100%;
    color: var(--color1);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 4rem;
}
.logo > h1{
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: var(--fuente2);
    font-weight: 400;
    letter-spacing: 1px;
}

.navegacion{
    width: 100%;
    height: 100%;
}
.items{
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

.listas{
    flex: 1 0 auto;
    text-align: center;
}

.items li > a{
    text-decoration: none;
    font-family: var(--fuente1);
    text-transform: uppercase;
    color: var(--color1);
    display:inline-block;
    padding: .3rem .7rem;
    
    
} 

.items li > a:hover{
    border-radius: 2px;
    border: 1px solid var(--color1);
    background-color: var(--color8);
    
}

.items li > a{
    transition: all 500ms ease;
}

/* Contenido Principañ */
.cotenidoPrincipal{
    width: 95%;
    height: 100vh;
    margin: 2rem auto;
    border-radius: 5px;
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,.3);

}

/* .foto-redes{


} */
.linea{
  
    width: 100%;
    height: 80%;
    background-color: var(--color6);
    border-radius: 1px;
}

/* .bio{
   
} */
